<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="title" content="My job wallet">

    <title>Orientation Choice</title>
    
    <script src="https://play.staging.workadventu.re/iframe_api.js"></script>
  <script type="module" crossorigin src="../../assets/view_modal-be3e53fb.js"></script>
  <link rel="stylesheet" href="../../assets/main-4ef74437.css">
</head>
    <body>
        <div style="background: transparent; color: white;overflow: hidden;height: 100%;display: flex;flex-direction: column;align-content: center;align-items: center;justify-content: center;padding: 100px;">
            <div
                id="title"
                style="font-size: 30px; padding: 25px; font-weight: bold;"
            >
                The Biarritz Map 🗺️
            </div>
            <div id="text" style=" padding: 10px 25px 10px 50px; font-size: 20px;">
                <p>You have all information to find the board surf and the mythic wave of Biarritz 🌊</p>
                <p>Good luck my firend 🍀, see you soon 😘</p>
            </div>
            <img src="../../assets/map-3b452e9b.png" alt="map" style="width: 100%; height: auto;">
            <div class="text-align-right m-2">
                <button class="btn bg-info cursor-pointer" id="closeButton">
                    Let's go! 🏄
                </button>
            </div>
        </div>
        
    </body>
</html>