<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="robots" content="noindex">
    <meta name="title" content="My job wallet">

    <title>Orientation Choice</title>
    
    <script src="https://play.staging.workadventu.re/iframe_api.js"></script>
  <script type="module" crossorigin src="../../assets/modal_treasurenigma-e60bdcbd.js"></script>
  <link rel="modulepreload" crossorigin href="../../assets/main-f1f52e58.js">
  <link rel="stylesheet" href="../../assets/main-72fbe228.css">
</head>
    <body>
        <div style="background: transparent; 
            color: white;
            overflow: hidden;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            justify-content: center;
            padding: 10px;"
        >
            <div
                id="title"
                style="font-size: 30px; padding: 25px; font-weight: bold;"
            >
                The Biarritz Map 🗺️
            </div>
            <div id="text" style=" padding: 10px 25px 10px 50px; font-size: 20px;">
                <p>You have all the information to find the surfboard and the Biarritz mythic wave 🌊</p>
                <p>Good luck my firend 🍀, see you soon 😘</p>
            </div>
            <img src="../../assets/map-3b452e9b.png" alt="map" style="width: 100%; height: auto;">
            <div class="text-align-right m-2">
                <button class="btn bg-info cursor-pointer" id="closeButton" style="color: black;">
                    Let's go! 🏄
                </button>
            </div>
        </div>
        
    </body>
</html>